html, body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: "Sora";
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3259d7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dceffd;
}

#demo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 30px;
  color: white;
  z-index: 3;
}
#demo-div ul {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#demo-div ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1px;
  padding: 5px;
}
#demo-div ul li h3 {
  font-size: 12px;
  font-family: "Sora";
  margin-top: 20px;
}
#demo-div ul li span {
  font-size: 18px;
  margin-top: 14px;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #2ccab9 url("../img/loading.gif") no-repeat center;
  z-index: 999;
  overflow: visible;
}

.header {
  display: flex;
  width: 100%;
  height: 90px !important;
  background-color: white;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 30px;
  z-index: 3;
}
.header .inner-header {
  width: 60%;
  height: 100%;
  border: 1px solid red;
  align-items: center;
  justify-content: space-between;
}
.header .inner-header .mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
}
.header .inner-header .mainLogo img {
  display: flex;
  width: 100%;
  height: 100%;
}

/* MENU */
@media (min-width: 800px) {
  #mainLogo {
    margin-left: 70px;
  }
}
@media screen and (max-width: 799px) {
  #demo-div > ul > li > h3 {
    font-size: 10px !important;
  }
  .mainLogo {
    height: 100% !important;
  }
  .mainLogo img {
    height: 50px !important;
  }
  .header {
    height: 60px !important;
  }
  .inner-header {
    width: 100% !important;
  }
}
.menu > li > a {
  color: #26262c;
  font-family: "Sora";
  font-weight: bold;
}

.inner-header .mainLogo {
  float: left;
}

.menu {
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

.menu a {
  display: block;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.menu a:hover {
  color: #76787f;
}

.inner-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.inner-header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.inner-header .menu-icon .nav-icon {
  background: black;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.inner-header .menu-icon .nav-icon:before {
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.inner-header .menu-icon .nav-icon:after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.inner-header .menu-btn {
  display: none;
}

.inner-header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.inner-header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.inner-header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.inner-header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 800px) {
  .inner-header li {
    float: left;
  }
  .inner-header li a {
    padding: 20px 30px;
  }
  .inner-header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .inner-header .menu-icon {
    display: none;
  }
  .inner-header {
    display: flex;
    height: 130px;
  }
  .menu {
    margin-right: 70px;
  }
}
@media screen and (max-width: 1400px) {
  .main-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 799px) {
  .main-container {
    top: 90px !important;
    width: 100%;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 120px;
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: bottom right;
}
.main-container .main-inner-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
}/*# sourceMappingURL=main.css.map */