html, body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: "Miriam Libre", sans-serif;
  background: white url("../../img/body-bg.png") no-repeat center;
  background-size: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f18f01;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dceffd;
}

#demo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  background-color: #f18f01;
  width: 100%;
  height: 50px;
  color: white;
  z-index: 3;
}
#demo-div .demo-div-menu {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 100%;
  margin: 0px;
  text-align: center;
}
#demo-div .demo-div-menu li {
  text-align: center;
  margin-right: 20px;
  padding: 3px;
  font-size: 14px;
  color: white;
  font-family: "Miriam Libre", sans-serif;
}
#demo-div .demo-div-menu li i {
  margin-right: 2px;
  font-size: 16px !important;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8) url("../../img/loading.gif") no-repeat center;
  background-size: 60px;
  z-index: 999;
  overflow: visible;
}

.header {
  display: flex;
  width: 100%;
  height: 90px !important;
  background-color: white;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50px;
  z-index: 3;
}
.header .inner-header {
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header .inner-header .mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
  background-color: white;
}
.header .inner-header .mainLogo img {
  display: flex;
  width: 100%;
  height: 100%;
}

.betaLogo1 img {
  width: 50px;
  height: auto;
}

.betaLogo {
  display: none;
  position: absolute;
  width: auto;
  left: 0;
  top: 50%;
  height: auto;
  transform: translate(0%, -50%);
}

/* MENU */
@media (min-width: 800px) {
  #mainLogo {
    margin-left: 30px;
  }
}
@media screen and (max-width: 799px) {
  .betaLogo1 {
    display: none;
  }
  .betaLogo {
    display: inline-flex;
    margin-left: 10px;
  }
  .betaLogo img {
    width: 40px;
    max-width: 40px;
  }
  .demo-div-menu {
    width: 100% !important;
    padding: 0;
    align-items: center;
    justify-content: flex-start !important;
  }
  .demo-div-menu > li {
    width: 25%;
    margin: 0 !important;
    font-size: 10px !important;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .demo-div-menu > li i {
    margin-bottom: 3px;
  }
  .mainLogo {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100% !important;
    width: auto !important;
  }
  .mainLogo img {
    height: 50px !important;
    width: 190px !important;
    max-width: 190px !important;
    min-width: 190px !important;
  }
  .header {
    height: 60px !important;
  }
  .inner-header {
    width: 100% !important;
  }
}
.menu > li > a {
  color: #26262c;
  font-family: "Miriam Libre", sans-serif;
  font-weight: bold;
}

.inner-header .mainLogo {
  float: left;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

.menu a {
  display: flex;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 12px;
}

.menu a:hover {
  color: #76787f;
}

.inner-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.inner-header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.inner-header .menu-icon .nav-icon {
  background: black;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.inner-header .menu-icon .nav-icon:before {
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.inner-header .menu-icon .nav-icon:after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.inner-header .menu-btn {
  display: none;
}

.inner-header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.inner-header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.inner-header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.inner-header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 800px) {
  .inner-header li {
    float: left;
  }
  .inner-header li a {
    padding: 20px 30px;
  }
  .inner-header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .inner-header .menu-icon {
    display: none;
  }
  .inner-header {
    display: flex;
    height: 130px;
  }
  .menu {
    margin-right: 30px;
  }
  .menu a {
    font-size: 16px;
  }
}
.carousel-inner img {
  min-height: 800px !important;
  max-height: 800px !important;
}

@media screen and (max-width: 1400px) {
  .carousel-inner img {
    min-height: 500px !important;
    max-height: 500px !important;
  }
}
@media screen and (max-width: 799px) {
  .carousel-inner img {
    min-height: 400px !important;
    max-height: 400px !important;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
.aboutus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 90% !important;
  height: 100% !important;
  padding: 100px;
}
.aboutus div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 40%;
  height: 90%;
}
.aboutus .aboutus-col1 {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
}
.aboutus .aboutus-col1 h6 {
  font-size: 16px;
  color: #f18f01;
  font-weight: bold;
  margin-bottom: 20px;
}
.aboutus .aboutus-col1 h3 {
  font-size: 25px;
  color: white;
  margin-bottom: 50px;
  font-weight: 500;
}
.aboutus .aboutus-col1 h5 {
  font-size: 18px;
  color: white;
  text-align: justify;
  margin-bottom: 50px;
  font-weight: 300 !important;
}
.aboutus .aboutus-col1 button {
  background-color: #f18f01;
  border: 1px solid #f18f01;
  color: white;
  width: 150px;
  height: 50px;
  width: 200px;
}
.aboutus .aboutus-col1 button:hover {
  background-color: transparent;
  color: #f18f01;
  border: 1px solid #f18f01;
  transition: ease-in-out 0.1s;
}
.aboutus .aboutus-col1 button:focus {
  background-color: #f18f01;
  border: 1px solid #f18f01;
  transition: ease-in-out 0.1s;
  color: white;
}
.aboutus .aboutus-col2 .col2-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #f18f01;
  min-height: 150px;
  max-height: auto !important;
}
.aboutus .aboutus-col2 .col2-items div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.aboutus .aboutus-col2 .col2-items div h3 {
  display: block;
  text-align: left;
  width: 200px;
  font-size: 40px;
  color: white;
  font-weight: 500 !important;
}
.aboutus .aboutus-col2 .col2-items div h3 i {
  color: #f18f01;
  margin-right: 10px;
}
.aboutus .aboutus-col2 .col2-items div h5 {
  color: white;
  font-size: 16px;
  text-align: justify;
  font-weight: 300;
}

@media screen and (max-width: 799px) {
  .aboutus {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .aboutus .aboutus-col1 {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 100px;
  }
  .aboutus .aboutus-col2 {
    width: 100%;
  }
  .aboutus .aboutus-col2 h3 {
    font-size: 30px !important;
    width: 150px !important;
  }
  .aboutus .aboutus-col2 h5 {
    font-size: 14px !important;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
.client {
  height: auto;
  width: 90% !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.client .client-gallery {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 1;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0 !important;
}
.client .client-gallery div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.client .client-gallery div img {
  filter: brightness(0%);
  width: 150px;
  height: auto;
}
.client .client-gallery div img:hover {
  filter: brightness(100%);
  scale: 1.1;
  transition: ease-in-out 0.2s;
}

.client-info {
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: center;
  padding: 10px;
}
.client-info .client-info-2 {
  border: 1px solid black;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #faf8ff;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
}
.client-info .client-info-2 h6 {
  font-size: 16px;
  color: #f18f01;
  font-weight: bold;
  margin-bottom: 20px;
}
.client-info .client-info-2 h3 {
  font-size: 25px;
  color: white;
  margin-bottom: 50px;
  font-weight: 500;
}
.client-info .client-info-2 h5 {
  font-size: 18px;
  color: white;
  text-align: justify;
  margin-bottom: 50px;
  font-weight: 300 !important;
}
.client-info .client-info-2 button {
  background-color: #f18f01;
  border: 1px solid #f18f01;
  color: white;
  width: 150px;
  height: 50px;
  width: 200px;
}
.client-info .client-info-2 button:hover {
  background-color: transparent;
  color: #f18f01;
  border: 1px solid #f18f01;
  transition: ease-in-out 0.1s;
}
.client-info .client-info-2 button:focus {
  background-color: #f18f01;
  border: 1px solid #f18f01;
  transition: ease-in-out 0.1s;
  color: white;
}
.client-info .client-info-2 h3 {
  color: black;
}
.client-info .client-info-2 h5 {
  color: black;
}
.client-info .client-info-2 h6 {
  color: #f18f01;
}
.client-info .client-info-2 .text-flex {
  width: 100%;
  height: auto !important;
}
.client-info .client-info-2 .text-flex .text-flex-1 {
  display: inline-block;
  width: auto;
  height: 150px;
  font-size: 100px;
  font-weight: bold;
  color: #051951;
  margin-right: 20px;
}
.client-info .client-info-2 .text-flex .text-flex-2 {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  display: inline-block;
  width: 120px;
  height: 110px;
  color: #051951;
}

@media screen and (max-width: 1400px) {
  .client {
    padding: 0 !important;
    width: 100% !important;
    flex-direction: column-reverse;
  }
  .client-gallery {
    width: 100% !important;
  }
  .client-gallery div {
    width: 160px !important;
    height: 160px !important;
  }
  .client-gallery div img {
    width: 120px !important;
  }
  .client-info {
    width: 100% !important;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 140px;
}
.main-container .inner-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page-item-2 {
  background-color: #051951;
  display: flex;
  position: relative;
  width: 100%;
  height: auto !important;
}

.page-item-3 {
  background-color: white;
  display: flex;
  position: relative;
  height: auto !important;
  border: 1px solid red;
}

@media screen and (max-width: 1400px) {
  .main-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 799px) {
  .main-container {
    top: 110px !important;
    width: 100%;
  }
  .inner-main-container {
    width: 100% !important;
  }
  .container-fluid {
    min-width: 100% !important;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other *//*# sourceMappingURL=main.css.map */