html, body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: "Miriam Libre", sans-serif;
  background: white url("../img/body-bg.png") no-repeat center;
  background-size: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f18f01;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dceffd;
}

#demo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  background-color: #f18f01;
  width: 100%;
  height: 40px;
  color: white;
  z-index: 99 !important;
}
#demo-div .demo-div-menu {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 100%;
  margin: 0px;
  text-align: center;
}
#demo-div .demo-div-menu li {
  text-align: center;
  margin-right: 20px;
  padding: 3px;
  font-size: 14px;
  color: white !important;
  font-family: "Miriam Libre", sans-serif;
}
#demo-div .demo-div-menu li i {
  margin-right: 2px;
  font-size: 16px !important;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8) url("../img/loading.gif") no-repeat center;
  background-size: 60px;
  z-index: 999;
  overflow: visible;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140px !important;
  background-color: white;
  align-items: center !important;
  justify-content: flex-start !important;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 3;
}
.header .inner-header {
  position: relative;
  top: 40px;
  width: 90%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.header .inner-header .mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
  background-color: white;
  cursor: pointer;
}
.header .inner-header .mainLogo img {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
}

.bayraksec {
  z-index: 4;
  background-color: transparent !important;
  width: auto !important;
  border: 0px !important;
}

.lang-dropdown .lang-flag {
  width: 30px;
  max-width: 30px;
  background-color: transparent !important;
}
.lang-dropdown .lang-menu li {
  padding: 0px !important;
  margin: 0px !important;
  width: 100% !important;
  border: 0px !important;
}
.lang-dropdown .lang-menu .dropdown-item:hover {
  color: black;
  border: 0px !important;
}
.lang-dropdown .lang-menu .dropdown-item:active {
  background-color: #f18f01 !important;
  border: 1px solid red !important;
}

.lang2 {
  display: none !important;
}

.betaLogo1 img {
  width: 50px;
  height: auto;
}

.betaLogo {
  display: none;
  position: absolute;
  width: auto;
  left: 0;
  top: 50%;
  height: auto;
  transform: translate(0%, -50%);
}

/* MENU */
@media (min-width: 800px) {
  #mainLogo {
    margin-left: 30px;
  }
}
@media screen and (max-width: 799px) {
  .lang1 {
    display: none !important;
  }
  .lang2 {
    z-index: 5;
    display: inline-flex !important;
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    transform: translate(0%, -50%);
  }
  .lang2 .bayraksec {
    color: black !important;
  }
  .lang2 .bayraksec:hover:focus {
    color: black !important;
  }
  .betaLogo1 {
    display: none;
  }
  .betaLogo {
    display: inline-flex;
    margin-left: 10px;
  }
  .betaLogo img {
    width: 40px;
    max-width: 40px;
  }
  .demo-div-menu {
    width: 100% !important;
    padding: 0;
    align-items: center;
    justify-content: space-between !important;
  }
  .demo-div-menu > li {
    width: auto;
    margin: 0 !important;
    font-size: 10px !important;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .demo-div-menu > li i {
    margin-bottom: 3px;
  }
  .mainLogo {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100% !important;
    width: auto !important;
  }
  .mainLogo img {
    height: 50px !important;
    width: 190px !important;
    max-width: 190px !important;
    min-width: 190px !important;
  }
  .header {
    height: 100px !important;
  }
  .inner-header {
    width: 100% !important;
    height: 60px !important;
  }
}
.footer {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  position: relative;
  top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}
.footer .inner-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 250px;
  justify-content: space-between;
  align-items: center;
}
.footer .inner-footer .footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer .inner-footer .footer-1 img {
  width: 70%;
  max-width: 400px;
  min-width: 250px;
}
.footer .inner-footer .footer-2 {
  align-items: left;
}
.footer .inner-footer div {
  box-sizing: border-box;
  justify-content: space-evenly;
  padding: 30px;
  border-right: 2px solid #f18f01;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  align-items: flex-start;
}
.footer .inner-footer div h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}
.footer .inner-footer div h5 {
  margin-bottom: 5px;
  font-size: 16px;
}
.footer .inner-footer div h4 {
  margin-top: 30px;
  font-size: 16px;
}
.footer .inner-footer div a {
  color: black;
}
.footer .inner-footer .footer-3 {
  border: 0px;
}
.footer .inner-footer .footer-3 h3 {
  margin-bottom: 20px !important;
}
.footer .inner-footer .footer-social {
  width: 100%;
  height: auto;
  padding: 0px !important;
  border: 0px !important;
  align-items: stretch !important;
}
.footer .inner-footer .footer-social h3 {
  font-size: 16px;
  font-weight: 500;
}
.footer .inner-footer .footer-social ul {
  display: flex;
  justify-content: space-between !important;
  flex-direction: row;
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
.footer .inner-footer .footer-social ul li {
  width: auto;
}
.footer .inner-footer .footer-social ul li a i {
  font-size: 40px;
}

.footer-copyright {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #f18f01;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright h3 {
  font-size: 14px;
  margin: 0 !important;
  text-align: justify;
}

@media screen and (max-width: 1400px) {
  .inner-footer {
    flex-direction: column !important;
    height: auto !important;
  }
  .inner-footer div {
    width: 100% !important;
    border-right: 0px !important;
    border-bottom: 2px solid #f18f01 !important;
  }
}
@media screen and (max-width: 799px) {
  .footer {
    top: 100px;
  }
  .footer-copyright {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }
  .footer-copyright h3 {
    font-size: 14px !important;
  }
  .footer-copyright #author-mark {
    margin-top: 20px !important;
    font-size: 12px !important;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
.menu > li > a {
  color: #26262c;
  font-family: "Miriam Libre", sans-serif;
  font-weight: bold;
}

.inner-header .mainLogo {
  float: left;
}

.menu {
  align-items: center;
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

.menu a {
  display: flex;
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 12px;
}

.menu a:hover {
  color: #76787f;
}

.inner-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.inner-header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.inner-header .menu-icon .nav-icon {
  background: black;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.inner-header .menu-icon .nav-icon:before {
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.inner-header .menu-icon .nav-icon:after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.inner-header .menu-btn {
  display: none;
}

.inner-header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.inner-header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.inner-header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.inner-header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.inner-header li a:hover, .inner-header li a.active {
  color: #f18f01;
  border-bottom: 1px solid #f18f01;
  transition: ease-in-out 0.15s;
}

@media (min-width: 800px) {
  .inner-header li {
    float: left;
  }
  .inner-header li a {
    padding: 20px 30px;
  }
  .inner-header .menu {
    display: flex;
    clear: none;
    float: right;
    max-height: none;
  }
  .inner-header .menu-icon {
    display: none;
  }
  .inner-header {
    display: flex;
    height: 130px;
  }
  .menu {
    margin-right: 30px;
  }
  .menu a {
    font-size: 14px;
  }
}
.carousel-inner img {
  min-height: 800px !important;
  max-height: 800px !important;
}

@media screen and (max-width: 1400px) {
  .carousel-inner img {
    min-height: 500px !important;
    max-height: 500px !important;
  }
}
@media screen and (max-width: 799px) {
  .carousel-inner img {
    min-height: 400px !important;
    max-height: 400px !important;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
.aboutus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 90% !important;
  height: 100% !important;
}
.aboutus div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 45%;
  height: 90%;
}
.aboutus .aboutus-col1 {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
}
.aboutus .aboutus-col1 h6 {
  font-size: 16px;
  color: #f18f01;
  font-weight: bold;
  margin-bottom: 20px;
}
.aboutus .aboutus-col1 h3 {
  font-size: 25px;
  color: white;
  margin-bottom: 50px;
  font-weight: 500;
}
.aboutus .aboutus-col1 h5 {
  font-size: 18px;
  color: white;
  text-align: justify;
  margin-bottom: 50px;
  font-weight: 300 !important;
}
.aboutus .aboutus-col1 button {
  background-color: #f18f01;
  border: 1px solid #f18f01;
  color: white;
  width: 150px;
  height: 50px;
  width: 200px;
}
.aboutus .aboutus-col1 button:hover {
  background-color: transparent;
  color: #f18f01;
  border: 1px solid #f18f01;
  transition: ease-in-out 0.1s;
}
.aboutus .aboutus-col1 button:focus {
  background-color: #f18f01;
  border: 1px solid #f18f01;
  transition: ease-in-out 0.1s;
  color: white;
}
.aboutus .aboutus-col1 h5 {
  text-align: left;
}
.aboutus #readmore-text {
  display: flex;
  flex-direction: column;
}
.aboutus #readmore-text strong {
  color: #f18f01;
  font-weight: bold;
}
.aboutus #readmore-text .readmore-text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.aboutus #readmore-text .readmore-text-div div {
  width: 100%;
  margin-bottom: 20px;
}
.aboutus .aboutus-col2 {
  height: 450px;
}
.aboutus .aboutus-col2 .col2-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #f18f01;
}
.aboutus .aboutus-col2 .col2-items div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.aboutus .aboutus-col2 .col2-items div h3 {
  display: block;
  text-align: left;
  width: 200px;
  font-size: 40px;
  color: white;
  font-weight: 500 !important;
}
.aboutus .aboutus-col2 .col2-items div h3 i {
  color: #f18f01;
  margin-right: 10px;
}
.aboutus .aboutus-col2 .col2-items div h5 {
  color: white;
  font-size: 18px;
  text-align: left;
  font-weight: 300;
}

@media screen and (max-width: 799px) {
  .aboutus {
    flex-direction: column;
    width: 100% !important;
  }
  .aboutus .aboutus-col1 {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 20px;
  }
  .aboutus .aboutus-col2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .aboutus .aboutus-col2 h3 {
    font-size: 35px !important;
    width: 180px !important;
  }
  .aboutus .aboutus-col2 h5 {
    font-size: 16px !important;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
.client {
  height: auto;
  width: 90% !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.client .client-gallery {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 1;
  justify-content: space-between;
}
.client .client-gallery div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 10px;
}
.client .client-gallery div img {
  filter: brightness(0%);
  width: 150px;
  height: auto;
}
.client .client-gallery div img:hover {
  filter: brightness(100%);
  scale: 1.1;
  transition: ease-in-out 0.2s;
}

.client-info {
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: center;
  padding: 10px;
}
.client-info .client-info-2 {
  border: 1px solid black;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #faf8ff;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: auto;
}
.client-info .client-info-2 h6 {
  font-size: 16px;
  color: #f18f01;
  font-weight: bold;
  margin-bottom: 20px;
}
.client-info .client-info-2 h3 {
  font-size: 25px;
  color: white;
  margin-bottom: 50px;
  font-weight: 500;
}
.client-info .client-info-2 h5 {
  font-size: 18px;
  color: white;
  text-align: justify;
  margin-bottom: 50px;
  font-weight: 300 !important;
}
.client-info .client-info-2 button {
  background-color: #f18f01;
  border: 1px solid #f18f01;
  color: white;
  width: 150px;
  height: 50px;
  width: 200px;
}
.client-info .client-info-2 button:hover {
  background-color: transparent;
  color: #f18f01;
  border: 1px solid #f18f01;
  transition: ease-in-out 0.1s;
}
.client-info .client-info-2 button:focus {
  background-color: #f18f01;
  border: 1px solid #f18f01;
  transition: ease-in-out 0.1s;
  color: white;
}
.client-info .client-info-2 h3 {
  color: black;
}
.client-info .client-info-2 h6 {
  color: #f18f01;
  font-weight: bold;
}
.client-info .client-info-2 ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  width: 100%;
  height: auto;
  padding: 0px !important;
  list-style: inside;
}
.client-info .client-info-2 ul li {
  width: auto;
  font-size: 14px;
}
.client-info .client-info-2 .text-flex {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: auto !important;
}
.client-info .client-info-2 .text-flex .text-flex-1 {
  display: inline-block;
  width: auto !important;
  height: auto !important;
  font-size: 90px;
  font-weight: bold;
  color: #051951;
  margin-right: 10px;
}
.client-info .client-info-2 .text-flex .text-flex-2 {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  display: inline-block;
  width: 120px;
  height: auto !important;
  color: #051951;
}
.client-info .client-info-2 .text-flex .text-flex-3 {
  font-size: 25px;
}
.client-info .client-info-2 .text-flex img {
  width: 250px;
  height: auto;
  display: flex;
}
.client-info .client-info-2 .text-flex div {
  height: 100%;
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-flex-4 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: auto;
}
.text-flex-4 span {
  height: auto !important;
  margin-right: 5px;
}
.text-flex-4 span i {
  font-size: 35px;
}
.text-flex-4 div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: left center;
  height: auto;
}
.text-flex-4 div h6 {
  margin: 0px !important;
  font-size: 12px !important;
}
.text-flex-4 div h3 {
  margin: 0 !important;
  font-size: 20px !important;
}

.client-info-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 1700px) {
  .client {
    padding: 0 !important;
    width: 90% !important;
    flex-direction: column-reverse;
  }
  .client-gallery {
    width: 100% !important;
  }
  .client-gallery div {
    width: 160px !important;
    height: 160px !important;
  }
  .client-gallery div img {
    width: 120px !important;
  }
  .client-info {
    width: 100% !important;
  }
}
@media screen and (max-width: 799px) {
  .img-container {
    display: none !important;
  }
  .text-flex-3 {
    display: none !important;
  }
  .client-info-buttons {
    flex-direction: column;
  }
  .client-info-buttons a {
    margin-bottom: 30px;
  }
  .client-info-buttons a button {
    width: 100% !important;
  }
  .client-info-2 ul {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .client-gallery {
    padding: 10px !important;
    justify-content: space-evenly !important;
  }
  .client-gallery div {
    margin: 0px !important;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
.services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 90% !important;
}
.services .services-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin-bottom: 50px;
}
.services .services-heading h3 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #f18f01;
}
.services .services-heading h2 {
  color: white;
  font-weight: 500;
  margin-bottom: 50px;
}
.services .services-heading h6 {
  color: white;
  font-weight: 300;
  text-align: justify;
}
.services .services-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
  height: auto;
}
.services .services-body .inner-services-body {
  background-color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 18%;
  padding: 20px;
  height: auto;
  align-items: center;
  justify-content: flex-start;
}
.services .services-body .inner-services-body div {
  height: 130px;
  width: 100%;
  margin-bottom: 20px;
}
.services .services-body .inner-services-body i {
  color: #f18f01;
  font-size: 60px;
  margin-bottom: 20px;
}
.services .services-body .inner-services-body h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.services .services-body .inner-services-body p {
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
}

.inner-services-body:hover {
  transition: ease-in-out 0.15s;
  scale: 1.05;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1400px) {
  .services-body {
    flex-direction: column !important;
    align-items: center;
  }
  .services-body .inner-services-body {
    width: 95% !important;
    margin-bottom: 20px;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
.contact-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact-container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.contact-container .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.contact-container .left-side .details {
  margin: 14px;
  text-align: center;
}

.contact-container .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.contact-container .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.contact-container .left-side .details .text-one,
.contact-container .left-side .details .text-two,
.contact-container .left-side .details .text-three {
  font-size: 14px;
  color: #afafb6;
}

.contact-container .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.contact-container .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button .gonderButton {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button .gonderButton:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .contact-container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .contact-container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .contact-container {
    margin: 40px 0;
    height: 100%;
  }
  .contact-container .content {
    flex-direction: column-reverse;
  }
  .contact-container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact-container .content .left-side::before {
    display: none;
  }
  .contact-container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  top: 140px;
}
.main-container .inner-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page-item-2 {
  background-color: #051951;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto !important;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-item-3 {
  background-color: white;
  display: flex;
  position: relative;
  height: auto !important;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-item-4 {
  background-color: #051951;
  display: flex;
  position: relative;
  width: 100%;
  height: auto !important;
  padding: 50px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.page-item-5 {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto !important;
  padding: 50px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background: url("../img/contactbg.webp") center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1400px) {
  .main-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 799px) {
  .main-container {
    top: 100px !important;
    width: 100%;
  }
  .inner-main-container {
    width: 100% !important;
  }
  .container-fluid {
    min-width: 100% !important;
  }
  .page-item-2 {
    padding: 0px !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .page-item-3 {
    padding: 0 !important;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other *//*# sourceMappingURL=main.css.map */