
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $font-stack;
}
#demo-div{
	background-color: black !important;
	text-align: center;
	align-items: center;
	height: 40px !important;
	h6{
		font-size: 14px;
		margin: 0 !important;
		font-family: $font-stack;
	}
}

html,
body {
	height: 100% !important;
	font-family: $font-stack;
}

body {
	background-color: #ffcf00 !important;
	width: 100%;
	min-height: 100% !important;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.container-fluid{
	width: 100%;
	height: 100% !important;
	min-height: 100vh !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	background-image: url("../../img/yapim/watermakayberk.png");
	background-size: 100%;
	border: 1px solid red;
	img{
		display: flex;
		max-width: 800px;
		width: 100%;
		height: auto;
	}
	h3{
		font-size: 20px;
		font-weight: 500;
		text-align: center;
	}
	button{
		width: 200px;
		height: 50px;
		background-color: black;
		border: 1px solid black;
		border-radius: 5px;
		color: white;
	}
	button:hover{
		background-color: transparent;
		border: 1px solid black;
		color: black;
		transition: ease-in-out 0.100s;
	}
	button:focus{
		background-color: black !important;
		border: 1px solid black !important;
		color: white;
	}
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 799px) {
    #demo-div{
		height: auto !important;
		h6{
			font-size: 12px !important;
		}
	}
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    
}