.menu>li>a
{
    color: $third-color;
    font-family: $font-stack;
    font-weight: bold;
}
.inner-header .mainLogo
{
    float: left;
    //display: block;
}
.menu
{
    align-items: center;
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    background-color: $fifth-color;
}
.menu a
{
    display: flex;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
}
.menu a:hover
{
    color: $fourth-color;
}
.inner-header .menu
{
    clear:both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.inner-header .menu-icon
{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
.inner-header .menu-icon .nav-icon
{
    background:black;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}
.inner-header .menu-icon .nav-icon:before
{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2s ease-out;
    top:5px;
}

.inner-header .menu-icon .nav-icon:after
{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2s ease-out;
    top:-5px;
}
.inner-header .menu-btn
{
    display: none;
}
.inner-header .menu-btn:checked ~ .menu
{
    max-height: 240px;
}
.inner-header .menu-btn:checked ~ .menu-icon .nav-icon
{
    background:transparent;
}
.inner-header .menu-btn:checked ~ .menu-icon .nav-icon:before
{
    transform: rotate(-45deg);
    top:0;
}
.inner-header .menu-btn:checked ~ .menu-icon .nav-icon:after
{
    transform: rotate(45deg);
    top: 0;
}
.inner-header li a:hover, .inner-header li a.active{
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    transition: ease-in-out 0.150s;
}
@media (min-width:800px)
{
    .inner-header li{
        float: left;
    }
    .inner-header li a
    {
        padding: 20px 30px;
    }
    .inner-header .menu 
    {
        display: flex;
        clear: none;
        float: right;
        max-height: none;
    }
    .inner-header .menu-icon
    {
        display: none;
    }
    .inner-header
    {
        display: flex;
        height: 130px;
    }
    .menu
    {
        margin-right: 30px;
    }
    .menu a
    {
        font-size: 14px;
    }
}    