@import "../abstracts/variables";
#demo-div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 30px;
    color: white;
    z-index: 3;
    ul{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        li{
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 1px;
            padding: 5px;
            h3{
                font-size: 12px; 
                font-family: $font-stack; 
                margin-top: 20px;
            }
            span{
                font-size: 18px; 
                margin-top: 14px;
            }
        }
    }
}
#loader{
	position: fixed;
	width: 100%;
    height: 100vh;
	background: $secondary-color url("../img/loading.gif") no-repeat center;
	z-index: 999;
    overflow: visible;
}
.header
{
    display: flex;
    width: 100%;
    height: 90px !important;
    background-color: $fifth-color;
    align-items: center !important;
    justify-content: center !important;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top: 30px;
    z-index: 3;
    .inner-header{
        width: 60%;
        height: 100%;
        border: 1px solid red;
        align-items: center;
        justify-content: space-between;
        .mainLogo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 100%;
            img{
                display: flex;
                width: 100%;
                height: 100%;
            }
        }
    }
}
/* MENU */

@media (min-width:800px)
{
    #mainLogo
    {
        margin-left:70px;
    }
}    

@media screen and (max-width: 799px) {
    #demo-div > ul > li > h3
    {
        font-size: 10px !important;
    }
    .mainLogo{
        height: 100% !important;
        img{
            height: 50px !important;
        }
    }
    .header{
        height: 60px !important;
    }
    .inner-header{
        width: 100% !important;
    }
}