.carousel-inner{
    img{
        min-height: 800px !important;
        max-height: 800px !important;
    }
}

@media screen and (max-width: 1400px) {
    .carousel-inner{
        img{
            min-height: 500px !important;
            max-height: 500px !important;
        }
    }
}
@media screen and (max-width: 799px) {
    .carousel-inner{
        img{
            min-height: 400px !important;
            max-height: 400px !important;
        }
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    
}